apiVersion: apps/v1
kind: Deployment
metadata:
  name: smart-path-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smart-path-frontend
  template:
    metadata:
      labels:
        app: smart-path-frontend
    spec:
      containers:
        - name: frontend
          image: default-route-openshift-image-registry.mycluster-ca-tor-1-835845-04e8c71ff333c8969bc4cbc5a77a70f6-0000.ca-tor.containers.appdomain.cloud/acmeair-group3/smart-path-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: smart-path-frontend
spec:
  selector:
    app: smart-path-frontend
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: smart-path-frontend
spec:
  to:
    kind: Service
    name: smart-path-frontend
  port:
    targetPort: 80
  tls:
    termination: edge
