apiVersion: apps/v1
kind: Deployment
metadata:
  name: smart-path-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smart-path-frontend
  template:
    metadata:
      labels:
        app: smart-path-frontend
    spec:
      containers:
        - name: frontend
          image: image-registry.openshift-image-registry.svc:5000/acmeair-group3/smart-path-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: smart-path-frontend
spec:
  selector:
    app: smart-path-frontend
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: smart-path-frontend
spec:
  to:
    kind: Service
    name: smart-path-frontend
  port:
    targetPort: 80
  tls:
    termination: edge
